body
{
background-color: chartreuse;
}
#header_img
{
height: 100px;width: 100px;
}
img
{
width: 350px;height: 350px;
}
.copy_right_footer
{
position: fixed;background-color: darkblue;color: white;
}